@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.table-of-contents {
    position: static;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        position: sticky;
        top: 7.25rem;
        z-index: 10;
    }
}
