@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.tests-list {
    max-height: none;
    overflow-y: initial;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        max-height: 330px;
        overflow-y: auto;
    }
}
